<p id="notice"><%= notice %></p>

<p>
  <h1><%= @product.productName %></h1>
</p>

<ul>
  <li>
    <strong>Platform:</strong>
    <%= @product.platform.platformName %>
  </li>
  <li>
    <strong>Status:</strong>
    <%= @product.status.statusName %>
  </li>
  <li>
    <strong>Type:</strong>
    <%= @product.type.typeName %>
  </li>
  <li>
    <strong>Occasion:</strong>
    <%= @product.occasion.occasionName %>
  </li>
  <li>
    <strong>Comments:</strong>
    <%= @product.comments %>
  </li>
</ul>

<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>
