<p id="notice"><%= notice %></p>

<p>
  <strong>Productname:</strong>
  <%= @product.productName %>
</p>

<p>
  <strong>Platform:</strong>
  <%= @product.platform.platformName %>
</p>

<p>
  <strong>Status:</strong>
  <%= @product.status.statusName %>
</p>

<p>
  <strong>Type:</strong>
  <%= @product.type.typeName %>
</p>

<p>
  <strong>Occasion:</strong>
  <%= @product.occasion.occasionName %>
</p>

<p>
  <strong>Comments:</strong>
  <%= @product.comments %>
</p>

<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>
