<p id="notice"><%= notice %></p>

<p>
  <strong>Productname:</strong>
  <%= @product.productName %>
</p>

<p>
  <strong>Comments:</strong>
  <%= @product.comments %>
</p>

<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>
